body{
    background-color: #FFFFFF;
    background-image: url(https://thumbs.dreamstime.com/b/bell-tower-fisk-university-2759755.jpg);
}
.row {
    float: left;
    width: 40%;
    padding: 10px;
    height: 200px; 
}
.column1{
    background-color: gold;
    margin-top: 380px;
    
}
.column1:hover{
    background-color: blue;
}
.column2{
    background-color: blue;
    width: 100%;
    margin-left: 800px;
    margin-top: -125px;
}
.column2:hover{
    background-color: pink;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 100px; 
    background-color: rgb(255,255,255);
    width: 350px;
    height: 480px;
    border-radius: 10px;
    border-width: thin;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
}
#username{
    height: 33px;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}
#password{
    height: 40px;
    width: 310px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 15px;
}
.main{
    flex-direction: column;
    justify-content: space-evenly;
    Padding: 10px;
    margin-top: -25px;
}
.main p{
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
}
.forget{
    text-decoration: none;
    color: #4A8ED2;
    margin-top: 5px;
    padding: 10px;
}
.forget:hover{
    text-decoration: underline;
}
.log_in{
    height: 55px;
    width: 320px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 25px;
    background-color: #0B65C2;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}
.log_in:hover{
    background-color: blue;
}
.sign_up_as_faculty{
    height: 55px;
    width: 320px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #0B65C2;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}
.sign_up_as_faculty:hover{
    background-color: blue;
}
.sign_up_as_student{
    height: 55px;
    width: 320px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #0B65C2;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}
.sign_up_as_student:hover{
    background-color: blue;
}

.line{
    margin-bottom: 10px;
    margin-top: 15px;
}
.info{
    flex-direction: column;
    margin-top: 18px;
    margin-left: 550px;
    font-family: Arial, Helvetica, sans-serif;
}
.information{
    text-decoration: none;
}
.information:hover{
    text-decoration: underline;
    background-color: rgb(11,101,194);
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .container{
        margin-left: 100px;
        margin-bottom: 48px;
    }
    footer{
        display:none;
    }
    .info{
        margin-left: 180px;
        margin-top: -30px;
    }    
}

